img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("..//fonts/oswaldregular.woff"), url("..//fonts/oswaldregular.woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("..//fonts/oswaldmedium.woff2"), url("..//fonts/oswaldmedium.woff");
}
.page {
  height: 100%;
}

.page__body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100%;
  margin: 0;
  color: #000000;
  position: relative;
}

@media (min-width: 1440px) {
  .page__body--bg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("..//img/Group.png");
    background-repeat: no-repeat;
    height: 694px;
    width: 720px;
    z-index: -2;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 66px;
}

@media (min-width: 768px) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 709px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1440px) {
  .page-header__wrapper {
    width: 1220px;
  }
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .site-list {
    width: 440px;
  }
}
@media (min-width: 1440px) {
  .site-list {
    width: 478px;
  }
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 22px;
}

.site-list__item a {
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
@media (min-width: 1440px) {
  .site-list__item a {
    color: white;
  }
}

.promo--bg {
  position: relative;
}

.promo--bg::before {
  content: "";
  position: absolute;
  height: 302px;
  width: auto;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("..//img/cat.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin: auto;
}
@media (min-width: 768px) {
  .promo--bg::before {
    display: none;
  }
}

.promo--bg::after {
  content: "";
  position: absolute;
  height: 270px;
  width: 280px;
  top: 167px;
  right: 0;
  left: 0;
  background-image: url("..//img/cat1.png");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .promo--bg::after {
    width: 509px;
    height: 609px;
    top: 229px;
    left: -35px;
    background-image: url("..//img/desktop-bank.png");
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .promo--bg::after {
    display: block;
    width: 552px;
    height: 499px;
    top: -61px;
    left: 255px;
    background-image: url("..//img/desktop-bank.png");
  }
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .promo__wrapper {
    width: 707px;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    width: 1220px;
  }
}

.promo__content {
  text-align: center;
  color: white;
}
@media (min-width: 768px) {
  .promo__content {
    color: #000000;
    text-align: left;
    margin-left: 87px;
    margin-right: 43px;
  }
}
@media (min-width: 1440px) {
  .promo__content {
    width: 530px;
    margin: 0 80px 273px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    padding: 0;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 49px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 73px;
}
.promo__button--bottom {
  margin-top: 302px;
}
@media (min-width: 768px) {
  .promo__button--bottom {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .promo__button {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    margin-bottom: 402px;
  }
}
@media (min-width: 1440px) {
  .promo__button {
    margin: 0;
  }
}

.button {
  display: inline-block;
  text-transform: uppercase;
  background-color: #68b738;
  color: white;
}

.button:hover,
.button:focus {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.program-types--bottom {
  padding-top: 22px;
}

.program-types__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .program-types__wrapper {
    width: 707px;
  }
}
@media (min-width: 1440px) {
  .program-types__wrapper {
    width: 1220px;
  }
}

@media (min-width: 1440px) {
  .program-type {
    display: flex;
    justify-content: space-between;
  }
}

.program-type__content {
  padding: 0 20px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  position: relative;
}
.program-type__content:nth-last-child(1) {
  margin-bottom: 0;
}
.program-type__content::before {
  content: "";
  position: absolute;
  top: 24px;
}
@media (min-width: 768px) {
  .program-type__content::before {
    display: none;
  }
}
.program-type__content--slim::before {
  left: 22px;
  width: 50px;
  height: 53px;
  background-image: url("..//img/icon-slim.svg");
  background-repeat: no-repeat;
}
.program-type__content--pro::before {
  left: 13px;
  width: 67px;
  height: 50px;
  background-image: url("..//img/icon-pro.svg");
}
.program-type__content::after {
  content: "";
  position: absolute;
}
@media (min-width: 768px) {
  .program-type__content--slim::after {
    top: 81px;
    right: 61px;
    width: 200px;
    height: 211px;
    background-image: url("..//img/slim-tablet.svg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) {
  .program-type__content--slim::after {
    top: 41px;
    left: 52px;
    width: 100px;
    height: 106px;
    background-image: url("..//img/slim-desktop.svg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .program-type__content--pro::after {
    top: 91px;
    right: 18px;
    width: 268px;
    height: 200px;
    background-image: url("..//img/pro-tablet.svg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) {
  .program-type__content--pro::after {
    top: 47px;
    left: 33px;
    width: 134px;
    height: 100px;
    background-image: url("..//img/pro-desktop.svg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .program-type__content {
    padding: 77px 282px 53px 52px;
  }
}
@media (min-width: 1440px) {
  .program-type__content {
    width: 466px;
    padding: 77px 61px 55px;
    margin: 0;
  }
}

.program-type__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 29px;
  padding-top: 30px;
  padding-left: 72px;
}
@media (min-width: 768px) {
  .program-type__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .program-type__title {
    text-align: center;
    margin-bottom: 73px;
  }
}

.program-type__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program-type__text {
    font-size: 16px;
    line-height: 24px;
    border: none;
  }
}

.program-type__text--layout {
  margin-bottom: 23px;
  margin: 0;
}
@media (min-width: 768px) {
  .program-type__text--layout {
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .program-type__text--layout {
    margin-bottom: 23px;
  }
}

.program-type__link {
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .program-type__link {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-type__link--indents {
  display: inline-block;
  padding-top: 15px;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .program-type__link--indents {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .program-type__link--indents {
    padding-top: 0;
  }
}

.features--bottom {
  padding-top: 27px;
  margin-bottom: 47px;
}

.features__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .features__wrapper {
    width: 707px;
  }
}
@media (min-width: 1440px) {
  .features__wrapper {
    width: 1220px;
  }
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 38px;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 183px;
  }
}
@media (min-width: 1440px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: section;
}
@media (min-width: 768px) {
  .features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.features__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .features__item {
    padding: 0;
    width: 265px;
    margin-bottom: 246px;
  }
  .features__item:nth-last-child(-n+2) {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .features__item {
    width: 245px;
    margin-bottom: 0;
  }
}
.features__item:nth-last-child(1) {
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .features__item:nth-last-child(1) {
    margin-bottom: 0;
  }
}
.features__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-position: center;
}
@media (min-width: 768px) {
  .features__item::before {
    width: 80px;
    height: 80px;
    top: -120px;
  }
}
.features__item--leaf::before {
  background-image: url("../img/leaf.svg");
}
.features__item--tub::before {
  background-image: url("../img/tub.svg");
}
.features__item--eat::before {
  background-image: url("../img/eat.svg");
}
.features__item--alarm::before {
  background-image: url("../img/alarm.svg");
}
@media (min-width: 768px) {
  .features__item::after {
    counter-increment: section;
    content: counters(section, ".") " ";
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    top: -158px;
    right: 31px;
    z-index: -1;
    color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .features__item::after {
    counter-increment: section;
    content: counters(section, ".") " ";
    top: -161px;
    right: 11px;
    font-size: 280px;
    line-height: 280px;
  }
}

.features__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
@media (min-width: 768px) {
  .features__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .features__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.example {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .example {
    background-image: linear-gradient(180deg, #fff 634px, transparent 113px), linear-gradient(90deg, #ebebeb 50%, #ebebeb 50%);
  }
}
@media (min-width: 1440px) {
  .example {
    background-image: linear-gradient(180deg, #fff 167px, transparent 113px), linear-gradient(90deg, #f2f2f2 50%, #f2f2f2 50%);
  }
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__wrapper {
    width: 707px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 75px;
    width: 1220px;
  }
}

@media (min-width: 768px) {
  .example__column {
    margin-bottom: 250px;
  }
}
@media (min-width: 1440px) {
  .example__column {
    max-width: 436px;
    margin-bottom: 0;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 40px;
    padding-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    padding-bottom: 146px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px;
  }
}

@media (min-width: 768px) {
  .example__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .example__container {
    flex-wrap: wrap;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  list-style: none;
}
@media (min-width: 768px) {
  .example__list {
    justify-content: stretch;
  }
}

.example__item {
  position: relative;
  width: 124px;
}
@media (min-width: 768px) {
  .example__item {
    width: 162px;
    margin-right: 42px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 15px 0;
}
@media (min-width: 768px) {
  .example__value {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__name {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  position: absolute;
  top: 59px;
  left: 22px;
  right: 0;
  padding: 0 10px;
  width: 59px;
  color: #444444;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .example__name {
    font-size: 14px;
    line-height: 20px;
    top: 88px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 7px;
    background-color: white;
  }
}
@media (min-width: 768px) {
  .example__name--first {
    width: 97px;
  }
}
@media (min-width: 768px) {
  .example__name--second {
    width: 127px;
  }
}
@media (min-width: 1440px) {
  .example__name {
    background-color: #f2f2f2;
  }
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .example__price {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .example__price {
    padding-bottom: 29px;
  }
}

@media (min-width: 768px) {
  .example__price-value {
    display: flex;
    justify-content: right;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .example__price-value {
    display: inline-block;
    margin-left: 63px;
  }
}

.example__result {
  position: relative;
  padding-top: 290px;
}
@media (min-width: 768px) {
  .example__result {
    padding-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .example__result {
    padding-top: 0;
  }
}
.example__result::before {
  content: "";
  position: absolute;
}
.example__result--before::before {
  top: 42px;
  left: 0;
  right: 0;
  width: 311px;
  height: 232px;
  background-image: url("../img/before-mobile.png");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .example__result--before::before {
    top: -250px;
    left: 0;
    right: 330px;
    width: 358px;
    height: 620px;
    background-image: url("../img/before-tablet.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .example__result--before::before {
    top: -557px;
    left: -77px;
    right: 330px;
    width: 358px;
    height: 620px;
    background-image: url("../img/before-desktop.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
}
.example__result::after {
  content: "";
  position: absolute;
}
@media (min-width: 768px) {
  .example__result--after::after {
    top: -250px;
    left: 173px;
    right: 0;
    width: 153px;
    height: 620px;
    background-image: url("../img/after-tablet.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .example__result--after::after {
    top: -557px;
    left: 134px;
    right: 0;
    width: 153px;
    height: 620px;
    background-image: url("../img/after-desktop.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
}

.range__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 31px;
  list-style: none;
}
@media (min-width: 1440px) {
  .range__list {
    padding: 0;
    margin: 0;
  }
}

.range-controls {
  padding: 0 15px;
}

.range__scale {
  width: 72px;
  height: 6px;
  border: 1px solid #cdcdcd;
  padding: 3px 5px;
  background-color: white;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .range__scale {
    width: 428px;
    padding: 0;
    border: none;
    background-color: #dcdcdc;
    position: relative;
  }
}

.range__bar {
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .range__bar {
    display: none;
  }
}

@media (min-width: 768px) {
  .range__toggle::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 10px solid white;
    background-color: #68b738;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
    cursor: pointer;
  }
}

.range__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .range__button {
    font-size: 20px;
    line-height: 30px;
    background-color: #ebebeb;
    position: relative;
  }
  .range__button::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px dotted #000000;
    opacity: 0.4;
  }
}
@media (min-width: 1440px) {
  .range__button {
    background-color: #f2f2f2;
  }
}

.contacts {
  position: relative;
}

.contacts--bg {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 707px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    width: 1220px;
  }
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}
@media (min-width: 768px) {
  .contacts__content {
    padding-top: 60px;
    padding-bottom: 51px;
  }
}
@media (min-width: 1440px) {
  .contacts__content {
    display: flex;
    box-sizing: border-box;
    padding: 66px 76px;
    width: 570px;
    position: absolute;
    margin-top: 95px;
    background-color: white;
  }
}

.contacts__info {
  line-height: 18px;
  text-transform: uppercase;
  width: 140px;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__info {
    font-size: 20px;
    line-height: 21px;
  }
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  width: 140px;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    width: 155px;
  }
}

.contacts__map {
  height: 362px;
  max-width: 320px;
  width: 100%;
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}

.page-footer {
  background-color: #f2f2f2;
  text-align: center;
}

.page-footer__logo {
  padding-top: 39px;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: #444444;
}

.social__list {
  list-style: none;
}

.main__wrapper {
  overflow-x: hidden;
}

.main-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 37px;
}

.catalog__wrapper {
  text-align: center;
}

.catalog__list {
  list-style: none;
}

.product-item__title {
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.description-goods {
  margin: 0 auto;
}

.description-goods__cell {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.more-item__title {
  line-height: 20px;
  font-weight: 400;
}

.more-item__text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
}

.more-item__button {
  background-color: #f2f2f2;
  color: #444444;
}

.additional-goods {
  text-align: center;
}

.additional-goods__header {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-goods__list {
  list-style: none;
}

.additional-goods__title {
  line-height: 16px;
  font-weight: 400;
  color: #222222;
}

.additional-goods__amount {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-goods__price {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.order-info {
  background-color: #68b738;
}

.order-info__text {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: white;
}

.form__wrapper {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .form__wrapper {
    width: 667px;
  }
}

.form-info {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 39px;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  padding: 26px 0 0;
  margin-bottom: 35px;
  max-width: 181px;
  position: relative;
  display: inline-block;
  padding-right: 22px;
  background-color: white;
}
.form__title::after {
  content: "";
  position: absolute;
  top: 40px;
  width: 100vw;
  height: 3px;
  background-color: #68b738;
  z-index: -1;
}

.data__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.data__item {
  margin-bottom: 13px;
}

.data__item:nth-last-child(1) {
  margin-bottom: 24px;
}

.data {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.form__label {
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.field {
  padding: 13px 15px;
  margin-left: 13px;
  border: 1px solid #E7E7E7;
  width: 100%;
}

.program-type-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.program-type-form__item {
  margin-bottom: 25px;
}

.program-type-form__item:first-child {
  padding-top: 22px;
}

.program-type-form__item:last-child {
  margin-bottom: 20px;
}

.review-field__area {
  text-transform: uppercase;
}

.area {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  display: block;
  padding: 9px 13px;
  width: 100%;
  border: 1px solid #cdcdcd;
  color: #444444;
  box-sizing: border-box;
}

.option {
  vertical-align: middle;
  text-transform: uppercase;
}

.check {
  padding-left: 45px;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__radio {
  position: absolute;
  margin-left: -45px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  align-items: center;
}

.check__input:hover + .check__radio {
  border: 1px solid #bababa;
}

.check__input:focus + .check__radio {
  border: 1px solid #bababa;
}

.check__input:checked + .check__radio::after {
  content: "";
  position: absolute;
  top: 28%;
  left: 28%;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}

.check__input:checked:focus + .check__radio::after {
  content: "";
  position: absolute;
  top: 28%;
  left: 28%;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}

.option__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.option__item {
  margin-bottom: 25px;
}

.check__box {
  position: absolute;
  margin-left: -45px;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
}

.check__input:hover + .check__box {
  border: 1px solid #bababa;
}

.check__input:focus + .check__box {
  border: 1px solid #bababa;
}

.check__input:checked + .check__box::after {
  content: "";
  position: absolute;
  top: 24%;
  left: 17%;
  width: 18px;
  height: 14px;
  background-image: url("..//img/tick-checkbox.svg");
  background-repeat: no-repeat;
}

.check__input:checked:focus + .check__box::after {
  content: "";
  position: absolute;
  top: 24%;
  left: 17%;
  width: 18px;
  height: 14px;
  background-image: url("..//img/tick-checkbox.svg");
  background-repeat: no-repeat;
}

.submit-form__wrapper {
  text-align: center;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  width: 100%;
  padding: 7px 20px;
  margin-bottom: 21px;
  border: none;
}

.form__button-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  margin-bottom: 32px;
}
/*# sourceMappingURL=style.css.map */
