.additional-goods {
  text-align: center;
}

.additional-goods__header {
  font-size: 24px;
  line-height: 24px;
  font-weight: $font-thickness;
}

.additional-goods__list {
  list-style: none;
}

.additional-goods__title {
  line-height: 16px;
  font-weight: $font-thickness;
  color: $grey-900;
}

.additional-goods__amount {
  font-size: 14px;
  line-height: 14px;
  color: $grey-800;
}

.additional-goods__price {
  font-size: 14px;
  line-height: 14px;
  color: $grey-800;
}

.order-info {
  background-color: $green-600;
}

.order-info__text {
  font-family: $second-font;
  line-height: 20px;
  color: $white;
}
