.catalog__wrapper {
  text-align: center;
}

.catalog__list {
  list-style: none;
}

.product-item__title {
  line-height: 20px;
  font-weight: $font-thickness;
  text-transform: uppercase;
  color: $black;
}

.description-goods {
  margin: 0 auto;
}

.description-goods__cell {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
}

.more-item__title {
  line-height: 20px;
  font-weight: $font-thickness;
}

.more-item__text {
  font-size: 12px;
  line-height: 16px;
  font-family: $second-font;
}

.more-item__button {
  background-color: $grey-100;
  color: $grey-800;
}
