.page-footer {
  background-color: $grey-100;
  text-align: center;
}

.page-footer__logo {
  padding-top: 39px;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: $grey-800;
}
