.program-types--bottom {
  padding-top: 22px;
}

.program-types__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 707px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;

  }
}

.program-type {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.program-type__content {
  padding: 0 20px;
  background-color: $grey-100;
  margin-bottom: 20px;
  position: relative;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--slim::before {
    left: 22px;
    width: 50px;
    height: 53px;
    background-image: url("..//img/icon-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::before {
    left: 13px;
    width: 67px;
    height: 50px;
    background-image: url("..//img/icon-pro.svg");
  }

  &::after {
    content: "";
    position: absolute;
  }

  &--slim::after {
    @media (min-width: $tablet-width) {
      top: 81px;
      right: 61px;
      width: 200px;
      height: 211px;
      background-image: url("..//img/slim-tablet.svg");
      background-repeat: no-repeat;
    }
  }

  &--slim::after {
    @media (min-width: $desktop-width) {
      top: 41px;
      left: 52px;
      width: 100px;
      height: 106px;
      background-image: url("..//img/slim-desktop.svg");
      background-repeat: no-repeat;
    }
  }

  &--pro::after {
    @media (min-width: $tablet-width) {
      top: 91px;
      right: 18px;
      width: 268px;
      height: 200px;
      background-image: url("..//img/pro-tablet.svg");
      background-repeat: no-repeat;
    }
  }

  &--pro::after {
    @media (min-width: $desktop-width) {
      top: 47px;
      left: 33px;
      width: 134px;
      height: 100px;
      background-image: url("..//img/pro-desktop.svg");
      background-repeat: no-repeat;
    }
  }


  @media (min-width: $tablet-width) {
    padding: 77px 282px 53px 52px
  }

  @media (min-width: $desktop-width) {
    width: 466px;
    padding: 77px 61px 55px;
    margin: 0;
  }
}

.program-type__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: $font-thickness;
  text-transform: uppercase;
  margin: 0 0 29px;
  padding-top: 30px;
  padding-left: 72px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-bottom: 73px;
  }
}

.program-type__text {
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border: none;
  }
}

.program-type__text--layout {
  margin-bottom: 23px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.program-type__link {
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-type__link--indents {
  display: inline-block;
  padding-top: 15px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
