.promo--bg {
  position: relative;
}

.promo--bg::before {
  content: "";
  position: absolute;
  height: 302px;
  width: auto;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("..//img/cat.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo--bg::after {
  content: "";
  position: absolute;
  height: 270px;
  width: 280px;
  top: 167px;
  right: 0;
  left: 0;
  background-image: url("..//img/cat1.png");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    top: 229px;
    right: -189px;
    background-image: url("..//img/desktop-bank.png");
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: -61px;
    left: 255px;
    background-image: url("..//img/desktop-bank.png");
  }
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 707px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.promo__content {
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
    text-align: left;
    margin-left: 87px;
    margin-right: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 530px;
    margin: 0 80px 273px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: $font-thickness;
  margin: 0;
  padding-top: 27px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 49px
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 73px;

  &--bottom {
    margin-top: 302px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    margin-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
