.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__text {
  font-family: $second-font;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.copyright__logo {
  fill: #666666;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.copyright__link:focus .copyright__logo {
  fill: $green-600;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.copyright__logo1 {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    fill: #666666;
  }
}

.copyright__link:hover .copyright__logo1 {
  fill: $green-600;
}

.copyright__link:focus .copyright__logo1 {
  opacity: 0.3;
}
