.example {
  background-color: $grey-100;

  @media (min-width: $tablet-width) {
    background-color: white;
    border-top: 1px solid $grey-300;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(57%,#fff),color-stop(57%,#eaeaea),to(#eaeaea));
  }

  @media (min-width: $desktop-width) {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(30%,#fff),color-stop(30%,#eaeaea),to(#eaeaea));
    border-top: none;
  }
}

.example__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.example__column {
  @media (min-width: $desktop-width) {
    max-width: 436px;
  }
}

.example__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 33px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 40px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    padding-bottom: 0;
  }
}

.example__description {
  margin-bottom: 25px;
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__item {
  width: 124px;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-right: 42px;
  }
}

.example__value {
  margin: 0;
  padding: 15px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid $grey-400;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__name {
  display: inline-block;
  margin: 0;
  padding: 0 17px;
  transform: translateY(-9px);
  font-size: 12px;
  line-height: 12px;
  font-family: $second-font;
  color: $grey-800;
  background-color: $grey-100;

  @media (min-width: $tablet-width) {
    padding: 0 9px;
    transform: translateY(-17px);
    font-size: 14px;
    line-height: 14px;
    background-color: white;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__price {
  margin: 0;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__price-value {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 63px;
  }
}

.example__result {
  @media (min-width: $tablet-width) {
  }
}

.example__box-image {
  @media (min-width: $tablet-width) {
    display: flex;
    max-height: 607px;
  }
}

.example__image {
  object-fit: cover;
  margin-bottom: 27px;

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.example__image--before {
  @media (min-width: $tablet-width) {
    height: 607px;
    width: 354px;
  }

  @media (min-width: $desktop-width) {
    height: 534px;
    width: 365px;
  }
}

.example__image--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    height: 607px;
    width: 354px;
  }

  @media (min-width: $desktop-width) {
    height: 534px;
    width: 285px;
  }
}
