.features__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 38px;
  padding-top: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 47px;
    counter-reset: section;
  }
}

.features__item {
  padding-left: 80px;
  margin-bottom: 24px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    padding: 0;
    min-width: 250px;
    min-height: 280px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: section;
      content: counters(section, ".") " ";
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      top: 0;
      right: 27px;
      z-index: -1;
      color: $grey-100;
    }
  }
}

.features__description {
  margin: 0;
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 151px;
    max-width: 222px;
    font-size: 16px;
    line-height: 24px;
  }
}
