.page {
  height: 100%;
}

.page__body {
  font-family: ("Oswald", sans-serif);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100%;
  margin: 0;
  color: $black;
}

@media (min-width: 1440px) {
  .page__body--bg::after {
    display: block;
    content: "";
    position: absolute;
    width: 50%;
    min-height: 694px;
    top: 0;
    right: 0;
    left: inherit;
    background-image: url("..//img/bg-cat-desktop.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("..//..//img/bg-cat-desktop@2x.jpg");
    }
  }
}

