.page-main {
  overflow: hidden;
}

.page__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 41px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-main__title {
  margin: 0;
  margin-bottom: 37px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
