.product-item__title {
  line-height: 20px;
  font-weight: $font-thickness;
  text-transform: uppercase;
  color: $black;
  margin-right: 24px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-right: 0;
    margin: 0px 45px 21px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 22px;

    br {
      display: block;
    }
  }
}

.description-goods {
  width: 100%;
}

.description-goods__row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.description-goods__cell {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product-button {
  display: block;
  text-align: center;
  padding: 7px 0;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
  }
}
