.promo {
  position: relative;
  min-height: 489px;
  background-repeat: no-repeat;
  background-size: 320px 305px, 100%;
  background-position: top center;
  background-image: url("..//..//img/background-cat-mobile.jpg"), linear-gradient(180deg, #64a83b 62.4%, #fff 62.4%);

  @media (min-resolution: 2dppx) {
    background-image: url("..//..//img/background-cat-mobile@2x.jpg"), linear-gradient(180deg, #64a83b 62.4%, #fff 62.4%);
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}


.promo__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 92%;
    min-height: 879px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 650px;
  }
}

.promo__content {

  @media (min-width: $tablet-width) {
    padding-left: 80px;
  }
}

.promo__title {
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 386px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: white;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 41px;
    max-width: 414px;
    padding-top: 62px;
    font-size: 60px;
    line-height: 60px;
    color: black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 106px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: white;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    max-width: 410px;
    color: black;
    text-align: left;
  }
}

.promo__button {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 20px;

  @media (min-width: $tablet-width) {
    max-width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 263px;
    right: 0;
    width: 707px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: 1440px) {
    top: 35px;
    left: 230px;
    width: 552px;
    height: 499px;
  }
}
